<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordAddIn1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordAddIn1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordAddIn1.Properties.Settings>
            <setting name="Recent" serializeAs="String">
                <value>Recipies</value>
            </setting>
        </WordAddIn1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WordAddIn1.Properties.Settings>
            <setting name="Projects" serializeAs="Xml">
                <value>
                    <Projects>
                        <Project Name="Recipies">
                            <Intentions>
                                <Intention Name="Genaral Info" Tag="gen">
                                    <Entities>
                                        <Entity Tag="gen-author" Name="Author" />
                                        <Entity Tag="gen-occasion" Name="Occasion" />
                                        <Entity Tag="gen-subject" Name="Subject" />
                                    </Entities>
                                </Intention>
                                <Intention Name="Ingredient" Tag="ing">
                                    <Entities>
                                        <Entity Tag="ing-name" Name="Name" />
                                        <Entity Tag="ing-quantity" Name="Quantity" />
                                        <Entity Tag="ing-form" Name="Form" />
                                    </Entities>
                                </Intention>
                            </Intentions>
                        </Project>
                        <Project Name="Support">
                            <Intentions>
                                <Intention Name="Header" Tag="gen">
                                    <Entities>
                                        <Entity Tag="gen-author" Name="Author" />
                                        <Entity Tag="gen-sent" Name="Sent Date" />
                                        <Entity Tag="gen-subject" Name="Subject" />
                                    </Entities>
                                </Intention>
                                <Intention Name="Product" Tag="ing">
                                    <Entities>
                                        <Entity Tag="ing-name" Name="Product Name" />
                                        <Entity Tag="ing-quantity" Name="Version" />
                                        <Entity Tag="ing-form" Name="Operating System" />
                                    </Entities>
                                </Intention>
                            </Intentions>
                        </Project>
                    </Projects>
                </value>
            </setting>
        </WordAddIn1.Properties.Settings>
    </applicationSettings>
</configuration>