<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordAddIn1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordAddIn1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordAddIn1.Properties.Settings>
            <setting name="RecentProject" serializeAs="String">
                <value>Recipies</value>
            </setting>
            <setting name="RecentTag" serializeAs="String">
                <value>gen-author</value>
            </setting>
        </WordAddIn1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WordAddIn1.Properties.Settings>
            <setting name="Projects" serializeAs="Xml">
                <value>
                    <Projects>
                        <Project Name="Recipies">
                            <Intentions>
                                <Intention Name="Genaral Info" Tag="g-info-1">
                                    <Entities>
                                        <Entity Tag="g-i-title-2" Name="Title" />
                                        <Entity Tag="g-i-author-2" Name="Author" />
                                        <Entity Tag="g-i-dif-2" Name="Difficulty" />
                                        <Entity Tag="g-i-time-2" Name="Time" />
                                        <Entity Tag="g-i-size-2" Name="Size" />
                                        <Entity Tag="g-i-cont-2" Name="Context" />
                                    </Entities>
                                </Intention>
                                <Intention Name="Nutrition" Tag="nut-1">
                                  <Entities>
                                    <Entity Tag="nut-type-2" Name="Type" />
                                    <Entity Tag="nut-quant-2" Name="Quantity" />
                                    <Entity Tag="nut-perc-2" Name="Percent" />
                                  </Entities>
                                </Intention>
                                <Intention Name="Ingredients" Tag="ing-1">
                                    <Entities>
                                        <Entity Tag="ing-name-2" Name="Name" />
                                        <Entity Tag="ing-form-2" Name="Form" />
                                        <Entity Tag="ing-quant-2" Name="Quantity" />
                                        <Entity Tag="ing-purp-2" Name="Purpose" />
                                    </Entities>
                                </Intention>
                                <Intention Name="Preperation" Tag="prep-1">
                                  <Entities>
                                    <Entity Tag="prep-op-2" Name="Operation" />
                                    <Entity Tag="prep-met-2" Name="Method" />
                                    <Entity Tag="prep-dur-2" Name="Duration" />
                                    <Entity Tag="prep-cond-2" Name="Condition" />
                                    <Entity Tag="prep-temp-2" Name="Temperature" />
                                  </Entities>
                                </Intention>
                            </Intentions>
                        </Project>
                        <Project Name="Support">
                            <Intentions>
                                <Intention Name="Header" Tag="gen">
                                    <Entities>
                                        <Entity Tag="gen-author" Name="Author" />
                                        <Entity Tag="gen-sent" Name="Sent Date" />
                                        <Entity Tag="gen-subject" Name="Subject" />
                                    </Entities>
                                </Intention>
                                <Intention Name="Product" Tag="ing">
                                    <Entities>
                                        <Entity Tag="ing-name" Name="Product Name" />
                                        <Entity Tag="ing-quantity" Name="Version" />
                                        <Entity Tag="ing-form" Name="Operating System" />
                                    </Entities>
                                </Intention>
                            </Intentions>
                        </Project>
                    </Projects>
                </value>
            </setting>
        </WordAddIn1.Properties.Settings>
    </applicationSettings>
</configuration>