<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net461" />
  <package id="IronPython" version="2.7.9" targetFramework="net461" />
  <package id="Microsoft.PowerShell.3.ReferenceAssemblies" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.PowerShell.4.ReferenceAssemblies" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="pythonnet_py35_dotnet" version="2.3.0" targetFramework="net461" />
  <package id="RestSharp" version="106.6.7" targetFramework="net461" />
  <package id="YamlDotNet" version="5.3.0" targetFramework="net461" />
</packages>